@import "src/globals.module.scss";

.btn {
  position: relative;
  width: 100%;
  background: transparent;
  padding: 15px 20px;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  font-family: $primary-font;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  &.primary {
    border: 1px solid $green_01;
    color: $green_01;

    &:hover {
      color: $white;
      border: 1px solid transparent;
      background-color: #3c52286a;
      backdrop-filter: blur(5px);
    }
  }
  &.secondary {
    border: 1px solid $green_02;
    color: $green_02;
  }
}