@import "src/globals.module.scss";

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2% 3% 0;
  display: flex;
  justify-content: space-between;
  
  &__logo {
    width: 80px;
    z-index: 100;
    img{
      width: 100%;
    }
  }
  &__to__action {
    display: flex;
    align-items: center;
  }
}

